* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Frank Ruhl Libre", serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
