@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Frank Ruhl Libre", serif;
  max-height: 100vh;
  background: #353333;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

#about-page {
  overflow: hidden;
}

#about-page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  min-height: 8vh;
}

#about-page main {
  height: 84vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  text-align: left;
  color: whitesmoke;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-btn {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  color: whitesmoke;
  cursor: pointer;
}

.contact-btn:hover {
  color: #ff69b4;
  border-bottom: 3px solid #ff69b4;
}

.hero-image {
  z-index: -1;
  top: 0;
  position: absolute;
}

.hero-image img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(15%);
          filter: brightness(15%);
}

.hero-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  color: whitesmoke;
}

.hero-description h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.hero-description h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
}

.hero-description p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 3rem;
  margin-top: 3rem;
}

.work-btn {
  position: relative;
  font-family: "Frank Ruhl Libre", serif;
  letter-spacing: 0.5rem;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: bold;
  background: #ff69b4;
  padding: 2rem 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1.5rem;
  cursor: pointer;
}

.work-btn:hover {
  border-radius: 25px;
  background: #ff0090;
}

.about-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 8vh;
  width: 90%;
  margin: auto;
}

.copyright-info {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  justify-self: flex-start;
  color: whitesmoke;
  font-size: 1.25rem;
}

@media screen and (min-width: 750px) {
  .logo {
    font-size: 5rem;
  }
  .contact-btn {
    font-size: 3rem;
  }
  .hero-description h3 {
    font-size: 4rem;
  }
  .hero-description h1 {
    font-size: 8rem;
  }
  .hero-description p {
    font-size: 3rem;
    line-height: 4rem;
  }
  .work-btn {
    font-size: 3rem;
  }
  .copyright-info {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  #about-page header {
    width: 95%;
    margin: auto;
  }
  #about-page main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo {
    font-size: 6rem;
    color: black;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contact-btn {
    font-size: 4rem;
  }
  .hero-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    z-index: -1;
    position: static;
  }
  .hero-image img {
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  .hero-description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    margin: 5rem;
  }
  .hero-description h3 {
    font-size: 5rem;
    font-weight: lighter;
  }
  .hero-description h1 {
    font-size: 10rem;
    letter-spacing: 1rem;
  }
  .hero-description p {
    font-size: 3rem;
    font-weight: lighter;
    line-height: 4rem;
    margin-top: 3rem;
  }
  .work-btn {
    letter-spacing: 0.25rem;
    font-size: 3rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 5rem 0rem;
  }
  .about-footer {
    width: 95%;
  }
  .copyright-info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: black;
    font-size: 2rem;
  }
}

#work-page {
  background: #353333;
}

.work-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 20vh;
  width: 100%;
  position: relative;
  border-bottom: 3px whitesmoke solid;
  margin-bottom: 6rem;
}

.work-heading h1 {
  font-size: 5rem;
  text-align: center;
  font-family: "Great Vibes", cursive;
  color: whitesmoke;
}

#close-btn {
  position: absolute;
  top: 6%;
  right: 3%;
  background: none;
  border: whitesmoke 2px solid;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 0px;
  border-radius: 25px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

#close-btn:hover {
  border: #ff69b4 2px solid;
}

#close-btn:focus {
  background: #ff0090;
  border: #ff0090 2px solid;
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
}

.image-gallery img {
  width: 100%;
  margin: 1rem 0rem;
  pointer-events: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  width: 80%;
  max-width: 1200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: zoom 0.6 ease;
          animation: zoom 0.6 ease;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#modal-close-btn {
  position: absolute;
  top: 6%;
  right: 3%;
  background: none;
  border: whitesmoke 2px solid;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 0px;
  border-radius: 25px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

#modal-close-btn:hover {
  border: #ff69b4 2px solid;
}

#modal-close-btn:focus {
  background: #ff0090;
  border: #ff0090 2px solid;
}

@media screen and (min-width: 750px) {
  .work-heading {
    width: 90%;
    margin: auto;
    margin-bottom: 6rem;
  }
  .work-heading h1 {
    font-size: 8rem;
  }
  #close-btn {
    padding: 1rem;
    font-size: 2rem;
  }
  .image-gallery {
    display: -ms-grid;
    display: grid;
    gap: 1.5rem 1.5rem;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    width: 90%;
    margin: auto;
  }
  .image-gallery img {
    width: 100%;
    min-height: 40vh;
    max-height: 40vh;
    margin: 0rem;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    pointer-events: all;
  }
  .image-gallery img:hover {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
}

@media screen and (min-width: 1200px) {
  .image-gallery {
    gap: 2rem 2rem;
    -ms-grid-columns: 20% 20% 20% 20%;
        grid-template-columns: 20% 20% 20% 20%;
  }
}

#contact-page {
  position: fixed;
  top: 0;
  left: 100%;
  min-height: 100vh;
  width: 100%;
  background: #353333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  width: 100%;
}

#contact-page input {
  margin: 1rem;
  min-width: 80%;
  padding: 1rem 0rem;
  font-size: 2rem;
  color: whitesmoke;
  background: none;
  border: none;
  border-bottom: whitesmoke 3px solid;
}

#contact-page #submit-btn {
  background: #ff69b4;
  border: none;
  margin: 3rem 0rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  border-radius: 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#contact-page #submit-btn:hover {
  background: #ff0090;
  border-radius: 25px;
}

.contact-heading {
  width: 80%;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-heading h1 {
  color: whitesmoke;
  font-size: 5rem;
  width: 80%;
}

.contact-heading span {
  color: #ff69b4;
  font-size: 8rem;
}

#contact-close-btn {
  position: absolute;
  top: 8%;
  right: 0%;
  background: none;
  border: whitesmoke 2px solid;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 0px;
  border-radius: 25px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#contact-close-btn:hover {
  border: #ff69b4 2px solid;
}

#contact-close-btn:focus {
  background: #ff0090;
  border: #ff0090 2px solid;
}

@media screen and (min-width: 750px) {
  #contact-page form {
    width: 80%;
  }
  #contact-page input {
    margin: 2rem;
    padding: 2rem 0rem;
    font-size: 3rem;
  }
  #contact-page #submit-btn {
    margin: 5rem 0rem;
    letter-spacing: 0.75rem;
  }
  .contact-heading h1 {
    font-size: 8rem;
  }
  .contact-heading span {
    font-size: 12rem;
  }
  #contact-close-btn {
    padding: 1rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  #contact-page form {
    width: 50%;
  }
  #contact-page #submit-btn {
    max-width: 50%;
  }
  .contact-heading {
    text-align: center;
  }
  .contact-heading h1 {
    font-size: 8rem;
  }
  .contact-heading span {
    font-size: 12rem;
  }
  #contact-close-btn {
    padding: 1rem;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */